@import 'styles/reset.scss';
@import 'styles/utilities.scss';
@import 'styles/mixins.scss';

:root {
  --color-dark: hsl(234, 29%, 20%);
  --color-charcoal: hsl(235, 18%, 26%);
  --color-grey: hsl(231, 7%, 60%);
  --color-white: hsl(0, 0%, 100%);
  --color-primary: hsl(4, 100%, 67%);
  --color-primary-alt: hsl(344, 98%, 69%);
  --color-error: hsl(4, 100%, 50%);
  --color-error-20: rgba(255, 34, 12, 0.2);
  --size-step-0: clamp(1rem, calc(0.96rem + 0.22vw), 1.13rem);
  --size-step-4: clamp(2.44rem, calc(2.05rem + 1.93vw), 3.55rem);
  --size-label: clamp(0.6rem, calc(0.76rem + 0.18vw), 0.8rem);
  --breakpoint-desktop: 64em;
}

body {
  background: var(--color-charcoal);
  color: var(--color-dark);
  font-family: var(--font-roboto);
  font-size: var(--size-step-0);
  line-height: 1.7;
  font-weight: 400;
}

h1,
h2 {
  font-weight: 700;
  line-height: 1.1;
}

h1,
h2 {
  font-size: var(--size-step-4);
  max-width: 20ch;
}

// Display the SubscriptionForm component in the middle of the page.
// Remove if used separately
main {
  min-height: 100vh;

  @include desktop {
    display: grid;
    place-content: center;
  }
}
